.banner-container {
  background-color: gray;
  background-image: url("../../../assets/ugflag1.jpg");
  padding-bottom: 510px;
  background-position: center;
  background-size: cover;
  position: relative;
  
  .banner-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    
    display: flex;
    
    .text-container {
      max-width: 1080px;
      color: white;
      margin: auto;
      padding: 64px;

      .quote {
        font-size: 36px;
      }

      .author {
        margin-top: 16px;
        font-size: 24px;
        text-align: right;
        font-weight: 100;
      }
    }
  }
}
