$text-color: #999;

.footer-container {
  background-color: rgb(8, 20, 32);
  color: $text-color;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 18px 14px;

  div {
    margin: 4px 0;
  }

  a, a:visited, a:active {
    color: $text-color;
  }
}